<!DOCTYPE html>
<html>

<head>
  <title>TailWag</title>
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>

  <div id="notification"></div>

  <header>
    <div class="header-container">
      <div class="logo-container">
        <h1>TailWag</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/morepets">More Pets</a></li>
          <li><a href="/likedpets">Liked Pets</a></li>
          <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <h2>Welcome to TailWag!</h2>
    <p>Here, you can learn about different types of pets and their unique characteristics.</p>
    <p>Check out our latest posts:</p>
    <section>
      <div class="arrow-container">
        <div class="arrow-circle left" id="left">
          <i class="fas fa-thumbs-down flip-horizontal"></i>
        </div>

        
          <div class="swipe-card" id="swipe-content">
                  <article id="latest-post">
                    <h3>Post Title 1</h3>
                    <p>Post content goes here...</p>
                  </article></p>
                </div>
              
          
        
          <div class="arrow-circle right" id="right">
            <i class="fas fa-thumbs-up"></i>
          </div>
        </div>
        
      
    
      


    </section>
  </main>
  <footer>
    <p>&copy; 2023 TailWag</p>
  </footer>

  <script src="js/swipe.js"></script>
  <script src="js/login.js"></script>
  <script src="js/logout.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>