<!DOCTYPE html>
<html>

<head>
  <title>Pet Posts</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>

  <div id="notification"></div>

  <header>
    <h1>Pet Posts</h1>
    <nav>
      <ul>
        <li><a href="#" onclick="location.href='/home'">Home</a></li>
        <li><a href="#" id="more-pets-link"> More Pets </a></li>
        <li><a href="#" id="logout-link">Logout</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <h2>More Pets</h2>
    <div id="my-grid" class="container mt-5 grid-container">
      <div data-lastID="" id="my-container">
      </div>
    </div>
    </div>
    <!-- css messed up w footer right now -->
    <!-- <footer>
      <p id="footer">&copy; 2023 Pet Posts</p>
    </footer> -->
  </main>
  </script>
  <script src="js/swipe.js"></script>
  <script src="js/loadmoreitems.js"></script>
  <script src="js/login.js"></script>
  <script src="js/logout.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>