<!DOCTYPE html>
<html>

<head>
  <title>TailWag</title>
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>



  <header>
    <div class="header-container">
      <div class="logo-container">
        <h1>TailWag</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#" onclick="location.href='/home'">Home</a></li>
          <li><a href="#" id="more-pets-link"> More Pets </a></li>
          <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>
  </header>

  <main>
    <h2>More Pets</h2>
    <div id="my-grid" class="container mt-5 grid-container">
      <div data-lastID="" id="my-container">
      <% for (let i=0; i < posts.length; i+=3) { %>
        <div class="row mt-3">
          <% for (let j=i; j < i + 3 && j < posts.length; j++) { %>
            <div class="col-sm-4 grid-item">
              <div class="container-fluid bg-light p-4">
                <!-- Content for Grid Item <%= j+1 %> -->
                <h4>
                  <%=posts[j].name%>
                </h4>
                <p>
                  <%=posts[j].description%>
                </p>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
  </div>
</div>
  </main>
  
  <footer>
    <p id="footer">&copy; 2023 Pet Posts</p>
  </footer>

  <script src="js/logout.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="js/loadmoreitems.js"></script>
</body>

</html>