<!DOCTYPE html>
<html>

<head>
  <title>TailWag</title>
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>



  <header>
    <div class="header-container">
      <div class="logo-container">
        <h1>TailWag</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#" onclick="location.href='/home'">Home</a></li>
          <li><a href="#" id="more-pets-link"> More Pets </a></li>
          <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>
  </header>



  <footer>
    <p id="footer">&copy; 2023 Pet Posts</p>
  </footer>

  <script src="js/logout.js"></script>
  <!-- fixed js link -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="js/loadmoreitems.js"></script>
</body>

</html>