<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
        <link rel="stylesheet" href="css/style3.css">
    </head>
  <body>

    <header>
      <div class="header-container">
        <div class="logo-container">
          <h1>TailWag</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/content">Home</a></li>
          <li><a href="/morepets">More Pets</a></li>
          <li><a href="/post">Post Pet</a></li>
          <li><a href="#" id="logout-link">Logout</a></li>       
          </ul>
        </nav>
      </div>
    </header>

    <main class="app">

      <div class="header">
        <h2>Post Pet</h2>
        <div class="server-message"></div>
      </div>
  
      <div class="input-div">
        <p>Drag & drop photos here or <span class="details" class="browse">Browse</span></p>
        <input type="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg"/>
      </div>

      <form id="queued-form">
        <div class="header">
          <h3>Images</h3>
          
        </div>
        <!--Images user is trying to upload go here-->
        <div class="queued-div"></div>

          <div class ="container">
            <div class ="postFields">
              <div class="input-box">
                <span class="details" >Choose pet type</span>
                <select name="petType" onchange="breedsCheck(this);" required>
                  <option value="Dog">Dog</option>
                  <option value="Cat">Cat</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="input-box">
                <span class="details" >Name:</span>
                <input name="petName"  required>
              </div>
              <div class="input-box" id="breedHidden">
                <span class="details" >Choose pet breed</span>
                <select name="breed" required>
                  <option value="French Bulldog">French Bulldog</option>
                  <option value="Labrador Retriever">Labrador Retriever</option>
                  <option value="Golden Retriever">Golden Retriever</option>
                  <option value="German Shepherd">German Shepherd</option>
                  <option value="Poodle">Poodle</option>
                  <option value="Bulldog">Bulldog</option>
                  <option value="Rottweiler">Rottweiler</option>
                  <option value="Beagle">Beagle</option>
                  <option value="Dachshund">Dachshund</option>
                  <option value="German Shorthaired Pointer">German Shorthaired Pointer</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="input-box">
                <span class="details" >Color:</span>
                <input name="color"  required>
              </div>
              <div class="input-box">
                <span class="details" >Choose pet availability</span>
                <select name="availability" required>
                  <option value="Available">Available</option>
                  <option value="Not Available">Not Available</option>
                  <option value="Pending">Pending</option>
                  <option value="Adopted">Adopted</option>
                </select>
              </div>
              <div class="input-box">
                <span class="details" >Coat:</span>
                <select name="coat" required>
                  <option value="Short">Short</option>
                  <option value="Medium">Medium</option>
                  <option value="Long">Long</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              
              
                <span class="details" >Pet Characteristics:</span>
                <div class="checks">
                  <input type="checkbox" id="animals" name="goodWithAnimals" value="animals" />
                  <label for="animals">Good with other animals</label>
                </div>
                <div class="checks">
                  <input type="checkbox" id="children" name="goodWithChildren" value="children" />
                  <label for="children">Good with children</label>
                </div>
                <div class="checks">
                  <input type="checkbox" id="leash" name="mustLeash" value="leash" />
                  <label for="leash">Animal must be leashed at all times</label>
                </div>
              
           
              <div class="input-box">
                <span class="details" >Location:</span>
                <input name="location"  required>
              </div>
              <div class="input-box">
                <span class="details" >Activity level:</span>
                <select name="activity" required>
                  <option value="Low">Low</option>
                  <option value="Moderate">Moderate</option>
                  <option value="High">High</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="input-box">
                <span class="details" >Birthdate:</span>
                <input type="date" name="birthdate" required>
              </div>
              <div class="input-box">
                <span class="details" >Health Description:</span>
                <input name="health" required>
              </div>
              <div class="input-box">
                <span class="details" >Adoption Fee:</span>
                <input type="number" step="0.01" name="fee" required>
              </div>
              <div class="input-box">
                <span class="details"  >Description:</span>
                <textarea name="description" id="desc" required></textarea>
                <!-- <textarea id="desc" name="description" placeholder="Write something.." style="height:200px"></textarea> -->
              </div>
            </div>
            <button type="submit">Upload</button>
          </div>
          

        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </form>

      
  
      <!-- <form id="saved-form">
        <div class="header">
          <h3>Saved in Server</h3>
          <button type="submit">Delete</button>
        </div>
        <div class="saved-div"></div>
      </form> -->
  
      

      <!-- <div class="petFields">
        <form id="login-form" action="/login" method="POST">
          
        </form>
      </div> -->

    </main>

    <footer>
      <p>&copy; 2023 Pet Posts</p>
    </footer>
    <script src="js/logout.js"></script>
    <script src="./js/post.js"></script>
  </body>
</html>
