<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
        <link rel="stylesheet" href="css/style3.css">
    </head>
  <body>

    <header>
      <div class="header-container">
        <div class="logo-container">
          <h1>TailWag</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/content">Home</a></li>
          <li><a href="/morepets">More Pets</a></li>
          <li><a href="/post">Post Pet</a></li>
          <li><a href="#" id="logout-link">Logout</a></li>       
          </ul>
        </nav>
      </div>
    </header>

    <main class="app">

      <div class="header">
        <h2>Post Pet</h2>
        <div class="server-message"></div>
      </div>
  
      <div class="input-div">
        <p>Drag & drop photos here or <span class="details" class="browse">Browse</span></p>
        <input type="file" class="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg"/>
      </div>

      <form id="queued-form">
        <div class="header">
          <h3>Images</h3>
          
        </div>
        <!--Images user is trying to upload go here-->
        <div class="queued-div"></div>
        <div class ="fake-body">
          <div class ="container">
            <div class ="postFields">
              <div class="input-box">
                <span class="details" >Pet Type:</span>
                <input name="petType"  required>
              </div>
              <div class="input-box">
                <span class="details" >Name:</span>
                <input name="petName"  required>
              </div>
              <div class="input-box">
                <span class="details" >Breed:</span>
                <input name="breed"  required>
              </div>
              <div class="input-box">
                <span class="details" >Color:</span>
                <input name="color"  required>
              </div>
              <div class="input-box">
                <span class="details" >Available:</span>
                <input name="available"  required>
              </div>
              <div class="input-box">
                <span class="details" >Coat:</span>
                <input name="coat"  required>
              </div>
              <div class="input-box">
                <span class="details" >Location:</span>
                <input name="location"  required>
              </div>
              <div class="input-box">
                <span class="details" >Physical:</span>
                <input name="physical" required>
              </div>
              <div class="input-box">
                <span class="details" >health:</span>
                <input name="health" required>
              </div>
              <div class="input-box">
                <span class="details" >fee: $</span>
                <input name="fee" required>
              </div>
              <div class="input-box">
                <span class="details"  >Description:</span>
                <textarea name="description" id="desc" required></textarea>
                <!-- <textarea id="desc" name="description" placeholder="Write something.." style="height:200px"></textarea> -->
              </div>
            </div>
            <button type="submit">Upload</button>
          </div>
          
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </form>

      
  
      <!-- <form id="saved-form">
        <div class="header">
          <h3>Saved in Server</h3>
          <button type="submit">Delete</button>
        </div>
        <div class="saved-div"></div>
      </form> -->
  
      

      <!-- <div class="petFields">
        <form id="login-form" action="/login" method="POST">
          
        </form>
      </div> -->

    </main>

    <footer>
      <p>&copy; 2023 Pet Posts</p>
    </footer>
    <script src="js/logout.js"></script>
    <script src="./js/post.js"></script>
  </body>
</html>
