@import url('https://fonts.googleapis.com/css?family=Poppins');


:root {
    --primary-color: #3B8BEB;
    --secondary-color: #55E6C1;
    --background-color: #E7E3D4;
    --text-color: #000000;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: white;
    font-size: 24px !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0 !important;
}

nav li {
    margin: 0 10px;
    display: inline-block;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.form-divider {
    margin: 25px;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-checkbox input {
    margin-right: 5px;
}

.form-checkbox label {
    font-size: 14px;
}

.image-container {
    position: relative;
}

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.search-form input[type="text"] {
    font-size: 18px;
    color: #333;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    padding: 10px;
    outline: none;
}

.search-form button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    color: var(--primary-color);
}

.search-form i.fas.fa-search {
    margin-right: 10px;
}

/* Visually hidden class */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Form styling */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(27, 156, 252, 0.5);
}

.form-group input:focus::placeholder {
    color: transparent;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #999;
    transition: all 0.2s ease-out;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: var(--primary-color);
}

.login-container button[type="submit"] {
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.signup-container p {
    font-size: 16px;
    margin-bottom: 30px;
}

.signup-container button {
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: var(--secondary-color);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.fixed-bottom {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    margin-bottom: 0 !important;
}

/* Forgot Password link module */
.forgot-password {
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-container {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
    }

    .signup-container {
        margin-bottom: 30px;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }
}

.hidden {
    display: none;
}

#notification {
    position: fixed;
    top: -50px;
    /* start at a negative top position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    /* add a transition for top */
    animation: slide-down 0.5s ease-in-out forwards;
    /* use an animation to transition top from -50px to 0px */
}

#notification.remove-notification {
    animation: slide-up 0.5s ease-in-out forwards;
}

#notification.success-notification {
    opacity: 1;
}

@keyframes slide-down {
    0% {
        top: -50px;
    }

    100% {
        top: 0;
    }
}

@keyframes slide-up {
    0% {
        top: 0px;
    }

    100% {
        top: -50px;
    }
}

#swipe-div {
    width: 100%;
    height: 400px;
    overflow: visible;
    position: relative;
    margin: 0 auto;
    user-select: none;
}

.swiped-left {
    animation: slide-left 1.5s ease-in-out forwards;
}

.swiped-right {
    animation: slide-right 1.5s ease-in-out forwards;
}

.swipe-card {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    position: center;
    user-select: none;
    margin: auto;
}

.swipe-card:hover {
    transform: scale(1.02);
}

.swipe-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swipe-card .card-text h4 {
    margin: 0;
    font-size: 1.5rem;
}

#swipe-content {
    position: relative;
    left: 0;
    transition: left 0.3s ease-out;
}

#swipe-content.swiped-left {
    left: -25%;
}

#swipe-content.swiped-right {
    left: 25%;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.arrow-icon {
    color: white;
    font-size: 16px;
}

.right {
    /* Add the following */
    margin-left: 10px;
  }

/* morepets.ejs */
.grid-container {
    height: 800px;
    /* Set the height of the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.container-fluid {
    height: 333px;
    width: 333px;
}